<h3><%= @product.name %></h3>

<div class = "product-info">
  <img src = <%= @product.imageurl %> alt = "Image of product">
  <p>Description: <%= @product.description %></p>
  <p>Price: <%= @product.price %> cents</p>
</div>
